@{
    /**/

    ViewBag.Title = "Búsqueda de Pedidos";
}
@section scripts {
    <script>
        $(document).ready(function () {
            site.Init.Pedidos.Buscar();
        });
    </script>
}
<br /><br />

<div id="modal-body"></div>

<div class="row busqueda-pedidos" style="display:none;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Buscar Pedidos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input class="form-control CustomerName" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nombre de producto</label>
                            <input class="form-control ProductName" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Pais destinatario</label>
                            <select class="form-control Country"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button id="b1" class="btn btn-success buscar-pedidos">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<partial name="_TablaPedidos" />

<div class="ajax-loader text-center">
    <img src="~/img/ajax-loader.gif" /> Cargando datos, por favor espere un momento.
</div>

<br />
<br />

