@{
    ViewBag.Title = "Listado de Pedidos";
}
@section scripts {
    <script>
        $(document).ready(function () {
            site.Init.Pedidos.Listado();
        });
    </script>
}

<br />

<div id="modal-body"></div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success" href="/pedidos/nuevo">Nuevo Pedido</a>
    </div>
</div>
<br />
<div class="tabla-pedidos" style="display:none;">
    <table class="table table-striped">
        <thead>
            <tr>
                <td><b>ID Pedido</b></td>
                <td><b>Fecha Pedido</b></td>
                <td><b>Fecha Envio</b></td>
                <td><b>Destinatario</b></td>
                <td><b>Empresa Transporte</b></td>
                <td><b>Operaciones</b></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="ajax-loader text-center">
    <img src="~/img/ajax-loader.gif" /> Cargando datos, por favor espere un momento.
</div>
<br />
<br />

