@{
    ViewBag.Title = "Listado de Pedidos";
}
@section scripts {
    <script>
        $(document).ready(function () {
            site.Init.Pedidos.Listado();
        });
    </script>
}

<br />

<div id="modal-body"></div>
<br />

<partial name="_TablaPedidos" />

<div class="ajax-loader text-center">
    <img src="~/img/ajax-loader.gif" /> Cargando datos, por favor espere un momento.
</div>
<br />
<br />

