@{
    ViewBag.Title = "Listado de Productos";
}
@section scripts {
    <script>
        $(document).ready(function () {
            site.Init.Productos.Listado();
        });
    </script>
}

<br />

<div id="modal-body"></div>
<br />
<div class="tabla-productos" style="display:none;">
    <table class="table table-striped">
        <thead>
            <tr>
                <td><b>Referencia</b></td>
                <td><b>Nombre</b></td>
                <td><b>Categoría</b></td>
                <td><b>Stock</b></td>
                <td><b>Stock Pendiente</b></td>
                <td><b>Precio</b></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="ajax-loader text-center">
    <img src="~/img/ajax-loader.gif" /> Cargando datos, por favor espere un momento.
</div>
<br />
<br />

