@model IEnumerable<DB.Order_Details>

<table class="table table-bordered">
    <thead>
        <tr>
            <td><b>ID Producto</b></td>
            <td><b>Nombre de producto</b></td>
            <td><b>Cantidad</b></td>
            <td><b>Precio por unidad</b></td>
            <td><b>Total</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
                <td>€@item.UnitPrice.ToString("N2")</td>
                <td>€@((item.UnitPrice * item.Quantity).ToString("N2"))</td>
            </tr>
        }

        <tr>
            <td>TOTAL</td>
            <td>€@Model.Sum(r => r.UnitPrice * r.Quantity).ToString("N2")</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>