@*@using Curso.MVC.WebApplication31.Models
@model IEnumerable<Orders>
<table class="table table-striped">
    <thead>
        <tr>
            <td><b>ID Pedido</b></td>
            <td><b>Fecha Pedido</b></td>
            <td><b>Fecha Envio</b></td>
            <td><b>Destinatario</b></td>
            <td><b>Empresa Transporte</b></td>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_ListadoPedidosParcial", Model)
    </tbody>
</table>*@
