<div id="pedidos" style="display:none;">
    <table class="table table-striped tabla-pedidos">
        <thead>
            <tr>
                <td><b>ID Pedido</b></td>
                <td><b>Fecha Pedido</b></td>
                <td><b>Fecha Envio</b></td>
                <td><b>Destinatario</b></td>
                <td><b>Empresa Transporte</b></td>
                <td><b>Operaciones</b></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>