@{
    /**/

    ViewBag.Title = "Listado de Clientes";
}
@section scripts {
    <script>
        $(document).ready(function () {
            site.Init.Cliente.Listado();
        });
    </script>
}
<br />

<div id="modal-body"></div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success" href="/clientes/nuevo">Nuevo Cliente</a>
    </div>
</div>
<br />
<table class="table table-striped tabla-clientes" style="display:none">
    <thead>
        <tr>
            <td><b>ID Cliente</b></td>
            <td><b>Empresa</b></td>
            <td><b>Contacto</b></td>
            <td><b>Teléfono</b></td>
            <td><b>Dirección</b></td>
            <td><b>Operaciones</b></td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="ajax-loader text-center" style="display: none; margin:0 auto;">
    <img src="~/img/ajax-loader.gif" /> Cargando datos, por favor espere un momento.
</div>
<br />
<br />
